
<a class="btn btn-lg btn-primary add-new" routerLink="../add-new" role="button">Add New »</a>

<span [ngStyle]="{right: right+'px', bottom: bottom+'px', opacity: opacity }" class="post-marker"> <img src="assets/images/map-marker.png" alt=""></span>
<button class="btn play" type="button" (click)="play()">Play</button>
<button class="btn pause" type="button" (click)="resetStart()">Re Start</button>

<agm-map [ngStyle]="{height: height+'px'}" [latitude]="lat" [longitude]="lng" [zoom]="12">
  <agm-marker 
    [iconUrl]="'assets/images/map-marker.png'" 
    [latitude]="lat" 
    [markerDraggable]="true" 
    [longitude]="lng"
    [opacity]="markerOpacity"></agm-marker>
</agm-map>