<!-- <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">Bottom navbar</a>
  <div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/home/map">Map</a>
        </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav> -->